<section id="features">
    <div class="headline">Sua segurança em primeiro lugar</div>
    <div id="features-container">
        <div class="feature">
            <i class="fas fa-tachometer-alt fa-3x"></i>
            <span class="feature-title">Garantia.</span>
            <p>Garantia de 7 dias pela loja + garantia de um ano da fábrica com assistências das marcas espalhadas por todo o país.</p>
        </div>
        <div class="feature">
            <i class="fas fa-code fa-3x"></i>
            <span class="feature-title">Devoluções.</span>
            <p>O produto não atendeu suas expectativas? Durante os 7 primeiros dias após o recebimento do produto é possível devolvê-lo e solicitar o estorno do valor. *Confira as condições. </p>
        </div>
        <div class="feature">
            <i class="fas fa-layer-group fa-3x"></i>
            <span class="feature-title">Seus dados protegidos.</span>
            <p>Através da criptografia de ponta, seus dados pessoais como cartões, endereços, RG e CPF estão protegigos. Além disso, também disponibilizamos o pagamento via boleto para seu maior conforto.</p>
        </div>
    </div>
</section>