<footer>
   <div class="boxs">
      <h2>Fale conosco!</h2>
      <ul>
          <li><a href="">Facebook</a></li>
          <li><a href="">Instagram</a></li>
          <li><a href="">Chat</a></li>
      </ul>
    </div>

   <div class="boxs">
      <h2>Informações</h2>
      <ul>
          <li><a href="">Suporte</a></li>
          <li><a href="">Quem somos</a></li>
          <li><a href="">Blog</a></li>
      </ul>
   </div>

   <div class="boxs">
      <h2>Minha conta</h2>
      <ul>
          <li><a href="">Meus dados</a></li>
          <li><a href="">Meus produtos</a></li>
          <li><a href="">Status do pedido</a></li>
      </ul>
   </div>
   
</footer> 
