<header id="topo">
    <div class="logo">
        <img src="img/logo-topo.jpg" alt="logo topo">
    </div>
    <div class="search">
        <input type="text" placeholder="Digite sua busca..." id="campo-busca">
        <img src="img/lupa.png" alt="pesquisar" class="lupa">
    </div>
    <nav>
        <ul class="nav-right">
            <li><a href="#">CARRINHO</a></li>
            <li><a href="/produtos/cadastro">CADASTRO PRODUTO</a></li>
            <li><a href="login">ENTRAR</a></li>
        </ul>
    </nav>
</header>