<header id="showcase">
    <div id="showcase-container">
        <h2>A maior plataforma de tecnologia na palma de suas mãos.</h2>
        <p>Tecstore, tecnologia que move o mundo.</p>
        <a href="#produtos" class="btn">Saiba Mais</a>
    </div>

</header>