<nav id="navbar">
    <div id="navbar-container">
        <h1 class="logo">TECSTORE </h1>
        <ul id="navbar-items">
            <li><a href= "">Entrar</a></li>
            <li><a href= "#gallery">Carrinho</a></li>
            <li><a href= "">Cadastro de Produtos</a></li>
        </ul>
    </div>
</nav>