*{
    margin: 0;
    padding: 0;
}


#container-carrosel{
    position: relative;
    width: 90%;
    margin: auto;
    top: 110px;
}

.slide{
    margin: auto;
    width: 100%;
    overflow: hidden;
    transition: all 0.4s;
}

.slides{
    display: flex;
    width: 400%;
}

#atual{
    transition: all 1s;
}

.btn{
    position: absolute;
    color: #fff;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1.7em;
    margin-top: -5px;
}

.btn:hover{
    transform: scale(1.5);
}

#voltar{
    top: 44%;
    left: 6%;
}

#next{
    top: 44%;
    right: 6%;
}

.balls{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -45px;
}


.balls div{
    width: 8px;
    height: 8px;
    transition: all 0.4s;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.balls div:hover{
    background: #fff;
    border: solid rgb(4, 45, 122) 3px;
}

.imgAtual{
    transition: all 0.4s;
    background: #fff;

}

