@import url('https://fonts.googleapis.com/css2?family=Robotodisplay=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
 font-family: 'Roboto', sans-serif;
}

a { 
    text-decoration: none;
    color: inherit;
}
.btn {
    display: inline-block;
    padding:15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #244d6e;
    color:#eee;
    border-radius:5px;
    transition: background 500ms ease;

}

.btn hover {
    cursor: pointer;
    background: #000;
}

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing:2px;
}

/*Navbar*/
#navbar {
    width:100%;
    height:80px;
    background: #244d6e;
    color: #eee;
    position: fixed;
}

#navbar-container {
    height:100%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size:2rem
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li {
    padding: 10px
}

/*showcase*/ 

#showcase {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background: url('/img/tecnologia.jpg') no-repeat center center/cover; 


    /*overlay*/
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: color;
    }

#showcase-container {
text-align: center;
}

#showcase-container h2 {
    font-size:2.5rem;
}

#showcase-container p {
    font-size: 1.2rem;
    padding: 7px 0;
}

  /*prdutos*/
#produtos {
    width:100%;
    background: #eee;
    color: #25221e;
    padding: 50px
}

#produtos-container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 15px;
}

.prod {
    display: inline-block;
    width: 50%;
}

/*about*/
#features { 
    width:100%;
    background: #244d6e;
    color: #eee;
    padding: 50px;
}

#features-container {
    width: 100%;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    background: #0669ba;
    padding:20px;
    border-radius: 5px;
}

.feature-title {
font-size: 1.5rem;
font-weight: bold;
}

/*em-alta*/
#em-alta {
    width:100%;
    padding:50px;
    color:#25221e
}

#em-alta-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#items {
    width:650px;
    padding-top: 20px;
    display: flex; 
     align-items: center;
     font-size: 1.2rem;
     background: #5998cc;
     padding: 15px;
     margin: 15px 0;
     border-radius: 5px;
     color: #eee;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

#items .item {
    display: flex;
    padding: 25px;
    margin: 15px 0; 
    font-size: 1.2rem;
}

#em-alta-container .gamer{
width: 300px;
} 

 /*testemunhos*/

 .testemunho {
     display: flex; 
     align-items: center;
     font-size: 1.2rem;
     background: #0669ba;
     padding: 15px;
     margin: 15px 0;
     border-radius: 5px;
 }

 #testemunhos {
     width:100%;
     background: #244d6e;
     color:#eee;
     padding: 50px;
 }

#testemunho-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.testemunho .testemunho-image {
    height: 200px;
    width: auto;
    border-radius: 50%;
    margin: 15px;
}

/*gallery*/

#gallery{
    width: 90%;
    margin: auto;
    padding:30px;
}

#gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-items: center;
}

.gallery-image {
display: inline-block;
width: 300px;
height: 300px;
border-radius: 5px;
}

/*footer*/

#footer {
background:#244d6e;
color: white;
padding: 30px;
text-align: center;
}

/*fim*/